version: '3'
services: 
    app:
        container_name: association-management
        restart: always
        build: .
        ports:
            - '3000:3000'
        command: bash -c "npm install && npm start"
        volumes:
            - ./:/usr/src/app
            - /usr/src/app/node_modules
        links:
            - mongo
    mongo:
        container_name: mongo
        image: mongo
        ports: 
            - '27017:27017'
    
